# for TRONXY X3A
# This file contains common pin mappings for the BIGTREETECH SKR V1.3
# board. To use this config, the firmware should be compiled for the
# LPC1768.

# See the example.cfg file for a description of available parameters.

#[mcu]
#serial: /dev/ttyACM0
#baud: 250000
[include kiauh_macros.cfg]

[include reshelper.cfg]

[pause_resume]

[display_status]

[gcode_macro Accelerometer_Test]
gcode:
  ACCELEROMETER_QUERY

[gcode_macro Manual_Bed_Leveling]
gcode:
  G28
  SCREWS_TILT_CALCULATE

[gcode_macro BLTouch_Reset]

gcode:
  BLTOUCH_DEBUG COMMAND=reset

[gcode_macro M900]
gcode:
  M117 Lin Adv Ignored

[gcode_macro G29]
gcode:
  M117 Bed Lvl Ignored

[gcode_macro M501]
gcode:
  M117 Rpt Set Ignored

[gcode_macro M500]
gcode:
  M117 Str Set Ignored


[gcode_macro G34]
gcode:
  Z_TILT_ADJUST

[virtual_sdcard]
#path: ~/gcode_files
path: /home/pi/printer_data/gcodes

[exclude_object]

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

#[temperature_sensor Ambient_Temp]
#sensor_type: BME280
#i2c_mcu: rpi
#i2c_address: 118
#i2c_bus: i2c.1

[delayed_gcode bed_mesh_init]
initial_duration: .01
gcode:
  BED_MESH_PROFILE LOAD=default

#[filament_switch_sensor my_sensor]
#pause_on_runout: True
#runout_gcode:
#        M117 Runout Detected
#        G91
#        G1 E-4 F600
#        G90
#        M600
#        M400
#insert_gcode:
#        M117 Insert Detected
#       G91
#        G1 E4 F600
#        G90
#event_delay:3
#switch_pin: !P1.26

[filament_switch_sensor RunoutSensor]
pause_on_runout: False
runout_gcode: PAUSE
insert_gcode: RESUME
switch_pin: P1.26

[idle_timeout]
timeout: 180

[stepper_x]
step_pin: P2.2
dir_pin: !P2.6
enable_pin: !P2.1
#step_distance: .01
rotation_distance: 32
#microsteps: 16
microsteps: 128
endstop_pin: !P1.29  # P1.28 for X-max
position_endstop: -17
position_min: -17
position_max: 230
homing_speed: 75

[tmc2130 stepper_x]
cs_pin: P1.17
spi_software_miso_pin: P0.5
spi_software_mosi_pin: P4.28
spi_software_sclk_pin: P0.4
#diag1_pin: P1.29
#microsteps: 16
#run_current: 0.800
run_current: .70
interpolate: False
#hold_current: 0.500
#stealthchop_threshold: 999999

[stepper_y]
step_pin: P0.19
dir_pin: !P0.20
enable_pin: !P2.8
#step_distance: .01
rotation_distance: 32
#microsteps: 16
microsteps: 128
endstop_pin: !P1.27  # P1.26 for Y-max
position_endstop: -5
#position_min: -30
position_min: -5
position_max: 192
homing_speed: 75


[tmc2130 stepper_y]
cs_pin: P1.15
spi_software_miso_pin: P0.5
spi_software_mosi_pin: P4.28
spi_software_sclk_pin: P0.4
#diag1_pin: P1.27
#microsteps: 16
#run_current: 0.800
run_current: .75
interpolate: False
#hold_current: 0.500
#stealthchop_threshold: 999999

[stepper_z]
step_pin: P0.22
dir_pin: P2.11
enable_pin: !P0.21
#step_distance: .0025
rotation_distance: 8
#microsteps: 16
microsteps: 128
endstop_pin: probe:z_virtual_endstop
position_min: -5
position_max: 300

[tmc2130 stepper_z]
cs_pin: P1.10
spi_software_miso_pin: P0.5
spi_software_mosi_pin: P4.28
spi_software_sclk_pin: P0.4
#diag1_pin: P1.25
#microsteps: 16
#run_current: 0.650
run_current: 0.750
interpolate: False
#hold_current: 0.450
#stealthchop_threshold: 999999

[stepper_z1]
step_pin: P0.1
dir_pin: P0.0
enable_pin: !P0.10
#step_distance: .0025
rotation_distance: 8
#microsteps: 16
microsteps: 128

[tmc2130 stepper_z1]
cs_pin: P1.1
spi_software_miso_pin: P0.5
spi_software_mosi_pin: P4.28
spi_software_sclk_pin: P0.4
#diag1_pin: P1.25
#microsteps: 16
run_current: 0.650
interpolate: False
#hold_current: 0.450
#stealthchop_threshold: 999999

[safe_z_home]
home_xy_position: 110,110
speed: 50
z_hop: 10                 
z_hop_speed: 10

[z_tilt]

z_positions: -38,110
	250,110
	
points: 210,110
 55,110
speed: 50
horizontal_move_z: 10
retries: 5
retry_tolerance:0.02

[screws_tilt_adjust]
screw1: 80,40
screw1_name: front left screw
screw2: 220,40
screw2_name: front right screw
screw3: 220,190
screw3_name: rear right screw
screw4: 80,190
screw4_name: rear left screw
horizontal_move_z: 10.
speed: 50.
screw_thread: CW-M3

[heater_bed]
heater_pin: P2.5
pullup_resistor:5300
sensor_type: EPCOS 100K B57560G104F
#sensor_type: ATC Semitec 104GT-2
#sensor_type: NTC 100K MGB18-104F39050L32
#sensor_type: Generic 3950
sensor_pin: P0.23
#control: watermark
#control: pid
#pid_Kp: 155.31
#pid_Ki: 19.99
#pid_Kd: 804.28
#pid_kp = 28.261
#pid_ki = 1.375
#pid_kd = 145.191
min_temp: 0
max_temp: 130

[extruder]
max_extrude_cross_section: 0.76
step_pin: P2.13
dir_pin: !P0.11
enable_pin: !P2.12
#step_distance: .0072
rotation_distance: 23.04
#microsteps: 16
microsteps: 128
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.7
#sensor_type: EPCOS 100K B57560G104F
sensor_type: ATC Semitec 104GT-2
#sensor_type: NTC 100K beta 3950
#sensor_type: NTC 100K MGB18-104F39050L32
#sensor_type: Honeywell 100K 135-104LAG-J01
#sensor_type: TDK NTCG104LH104JT1
sensor_pin: P0.24
#control: pid
#pid_Kp: 16.07
#pid_Ki: 1.37
#pid_Kd: 46.97
min_temp: 0
max_temp: 260
max_extrude_only_distance: 110
#max_extrude_only_velocity: 70.0
#max_extrude_only_accel: 1000.0
#max_extrude_cross_section: 780
#pressure_advance: 1.16
#pressure_advance: 0.73
#pressure_advance: 0.12
pressure_advance: 0.45 # PLA 05/20/2024

[tmc2130 extruder]
cs_pin: P1.8
spi_software_miso_pin: P0.5
spi_software_mosi_pin: P4.28
spi_software_sclk_pin: P0.4
#diag1_pin: P1.28
#microsteps: 16
run_current: 1.00
interpolate: False
#run_current: 1.30
#hold_current: 0.500
#stealthchop_threshold: 999999

[fan]
pin: P2.3

[mcu]
#serial: /dev/serial/by-id/usb-Klipper_lpc1768_0DC00011658C48AFCE0E345DC72000F5-if00
serial: /dev/serial/by-id/usb-Klipper_lpc1768_07F00018E68045AFA241D75CC72000F5-if00
#serial: /dev/ttyACM0 restart_method: command

[mcu rpi]
serial: /tmp/klipper_host_mcu

[adxl345]
cs_pin: rpi:None

[resonance_tester]
accel_chip: adxl345
probe_points:
    100,100,20  # an example

[input_shaper]
shaper_freq_x: 79.2
shaper_type_x: mzv
damping_ratio_x: 0.0488
#shaper_freq_y: 59.8
#shaper_type_y: mzv
shaper_freq_y: 50.2
shaper_type_y: 3hump_ei
damping_ratio_y: 0.0275

[printer]
kinematics: cartesian
max_velocity: 200
max_accel: 1000
#max_z_velocity: 25
max_z_velocity: 5
max_z_accel: 100
square_corner_velocity: 5.0

[gcode_arcs]
resolution: 0.15

###############################################
##  Probing/Mesh
###############################################

[bltouch]
sensor_pin: P1.25
control_pin: P2.0
pin_move_time: 0.250
pin_up_reports_not_triggered: False
pin_up_touch_mode_reports_triggered: False
stow_on_each_sample: True 
x_offset: 27
y_offset: 0
#z_offset: 2.31
#z_offset: 2.435

[force_move]
enable_force_move: True

#[homing_override]
#gcode:
# SET_KINEMATIC_POSITION Z=0
# G0 Z10 F500
# G28 X Y
# G0 X110 Y110 F5000
# G28 Z
# G0 Z10 F500
#axes: z
#set_position_z: -0.85

[bed_mesh]
speed: 50
horizontal_move_z: 5
mesh_min: 80, 40
mesh_max: 225, 190
probe_count:5,5
algorithm: bicubic

# PETG is z= 1.490

########################################
# Optional LCD configuration
########################################

######################################################################
# "RepRapDiscount 2004 Smart Controller" type displays
######################################################################

#[display]
#lcd_type: uc1701
#cs_pin: EXP1_6
#a0_pin: EXP1_7
#contrast: 40
#encoder_pins: ^EXP2_3, ^EXP2_5
#click_pin: ^!EXP1_2
## Some micro-controller boards may require an spi bus to be specified:
#spi_bus: spi
## Alternatively, some micro-controller boards may work with software spi:
#spi_software_miso_pin: EXP2_1
#spi_software_mosi_pin: EXP2_6
#spi_software_sclk_pin: EXP2_2

[output_pin beeper]
pin: EXP1_1

# "RepRapDiscount 128x64 Full Graphic Smart Controller" type displays
[display]
lcd_type: st7920
cs_pin: P1.19
sclk_pin: P1.20
sid_pin: P1.18
encoder_pins: ^P3.26, ^P3.25
click_pin: ^!P0.28
[output_pin beeper]
pin: P1.30

#[output_pin beeper]
#pin: P1.30

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 74.273
#*# pid_ki = 1.395
#*# pid_kd = 988.766
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.023438, 0.030312, 0.027812, 0.026562, 0.002812
#*# 	-0.043438, 0.022812, 0.027500, 0.028125, 0.011875
#*# 	-0.048750, 0.014375, 0.012187, 0.013750, 0.006250
#*# 	-0.012500, 0.039375, 0.038125, 0.030312, 0.005000
#*# 	0.033750, 0.071875, 0.050625, 0.031250, -0.003750
#*# tension = 0.2
#*# min_x = 80.0
#*# algo = bicubic
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 40.0
#*# x_count = 5
#*# max_y = 190.0
#*# mesh_x_pps = 2
#*# max_x = 225.0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 27.982
#*# pid_ki = 1.042
#*# pid_kd = 187.830
#*#
#*# [bltouch]
#*# z_offset = 2.845
